
/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

@layer base {
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    @apply antialiased;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    font-family: 'Playfair Display', serif;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r;
  }
  
  .glass {
    @apply bg-white/10 backdrop-blur-lg border border-white/20;
  }
}

